.navbar {
    background-color: #ece9de;
    --mdb-navbar-box-shadow: 0 0 0 0;
        position: fixed;
        top: 0;
        width: 100%;
        height: 6vh;
        z-index: 9;
}

nav > a > img {
    margin: 0px 20px;
    height: 3vh;
}

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#search {
    background-color: #f9f8f5;
    transform: translateY(45px);
}




/* Style for the grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive columns */
    grid-gap: 20px; /* Gap between grid items */
    padding: 20px;
    transform: translateY(25%);
}

/* Style for the grid item cards */
.grid-item {
    align-items: center;
    justify-content: left;
    width: 33%;
}

.card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 0;
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    color: #555;
}

#printSelectBtn {
    border: 2px solid #246bce;
    background: #f9f8f5;
    position: fixed;
    bottom: 50px;
    left: 50px;
}

#printCardBtn {
    justify-content: right;
    margin: 5px;
    width: 200px;

}

#switchView {
    border: 2px solid #246bce;
    background: #f9f8f5;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#moreInfoBtn {
    justify-content: left;
    margin: 5px;
    width: 200px;

}

#printAllBtn {
    border: 2px solid #246bce;
    background: #f9f8f5;
    position: fixed;
    bottom: 100px;
    left: 50px;
}

.colorful-header {
    background-color: #246bce;
    color: #ffffff;
  }


  .card-checkbox {
  display: inline-block; /* or block, depending on your layout */
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.card-checkbox.checked {
  background-color: #8d8d8d; /* color when it's checked */
  border-color: #75787b; /* color when it's checked */
}

.card-checkbox.checked::after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.taxon-sub-cat-btn.active  {
    color: #246bce;
}


#servicesAccordion {
    width: 15%;
}

#servicesAccordion button {
    border: none;
}



#servicesAccordion .accordion-body{
    padding: 5px;
    border: none;
}

#sideMenu {
    border: none;
    position: absolute;
    width: 15em;
    background-color: #ffffff;
    text-align: center;
    max-height: 700px;
    z-index: 1;
    transform: translateY(-10px);
    
}

