.navbar {
    background-color: #ece9de;
    --mdb-navbar-box-shadow: 0 0 0 0;
        position: fixed;
        top: 0;
        width: 100%;
        height: 6vh;
        z-index: 9;
}

nav > a > img {
    margin: 0px 20px;
    height: 3vh;
}

#switchView {
    border: 2px solid #246bce;
    background: #f9f8f5;
    position: fixed;
    bottom: 50px;
    right: 50px;
}
.carousel-item {
    min-height: 280px;
}

.col-lg-6 {
    padding: 0px;
}

.my-3 .container-lg {
    margin: 0px 0px;
}

body {
    margin: 0;
    padding: 0;
}

.searchTags {
    font-size: 1.5vh;
}

#titleMessage {
    font-size: 2.5vh;
    color: black;
        margin-bottom: 15px;
}

#searchContainer {
    padding-left: 15vh;
        padding-right: 15vw;
    margin-right: 0px;
        /* --mdb-gutter-x: 0px; */
        align-self: center;
    }
    
    .row {
        --mdb-gutter-x: 0px;
}

.carousel .carousel-item>img {
    height: 45vw;
    width: 45vw;
}

#mapButton>* {
    padding: 0px 150px;
}
#imgContainer>div {
    --mdb-gutter-x: 1.5rem;
    padding-left: 0px;
}

.searchBar>div {
    display: inline-block;
    justify-content: space-between;
    transform: translateY(-2px);
}

.searchBar>div>input {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 45vw;
    height: 3vh;
}

.news>div {
    width: 37vw;
}

footer>.row {
    padding: 2vw;
}

footer {
    margin-top: 5vh;
}

footer>div>div>h6 {
    font-size: 1.8vh;
    text-align: center;
}

footer>div>div>p {
    font-size: 1.5vh;
}

footer>div>div>*>a {
    color: #005191;
}
footer {
    background: #ece9de
}

footer>h5 {
    margin-bottom: 0px;
    font-size: 1.8vh;
    padding-bottom: 16px;
        padding-left: 10px;
}

.card {
    flex-direction: row;
}

.card img {
    width: 30%;
}

.jumbotron {
    margin-top: 5vh;
}

body {
    background-color: #005191;
}

#mainSection {
    background-color: #ece9de;
        margin-top: 6vh;
    }
    
    #contactContainer {
        padding-top: 2vh;
        text-align: center;
    }
    
    #mapButtonContainer {
        text-align: center;
        padding-top: 5vh;
    }
    
    .searchBar {
        background-color: #f9f8f5;
        height: 30px;
}