nav{
    background-color: #ece9de;
}

nav > a > img {
    margin: 0px 20px;
    height: 3vh;
}

#switchView {
    border: 2px solid #246bce;
    background: #f9f8f5;
    position: fixed;
    bottom: 50px;
    right: 50px;
}
.carousel-item {
    min-height: 280px;
}

#leftArrow {
    transform: rotate(-90deg);
    width: 50%;
}

#rightArrow {
    transform: rotate(90deg);
    width: 50%;
}
#searchContainer {
    /* vertical-align: middle;
    padding: auto;
    align-items: center; */
    align-self: center;
}

.col-lg-6 {
    padding: 0px;
}

.my-3 .container-lg {
    margin: 0px 0px;
}

body {
    margin: 0;
    padding: 0;
}

.searchTags {
    font-size: 1.5vh;
}

#titleMessage {
    font-size: 2.5vh;
}

#searchContainer {
    padding-right: 5vw;
}

.carousel .carousel-item>img {
    height: 45vw;
    width: 50vw;
}

#mapButton>* {
    padding: 0px 150px;
}
#searchContainer>.card {
    width: 45vw;
    background-color: #1fe0;
    height: 3vh;
}

.searchBar>div {
    display: inline-block;
    justify-content: space-between;
    transform: translateY(-2px);
}

.searchBar>div>input {
    border: none;
    background-color: #f9f8f5;
    width: 45vw;
    height: 3vh;
}

#mapButton {
    width: 10vw;
    height: 5vh;
    font-size: 1vh;
}

.news>div {
    width: 37vw;
}

footer>.row {
    padding: 2vw;
}

footer {
    margin-top: 5vh;
}

footer>div>div>h6 {
    font-size: 1.8vh;
    text-align: center;
}

footer>div>div>p {
    font-size: 1.5vh;
}

footer>div>div>*>a {
    color: #005191;
}
footer {
    background: #ece9de
}

footer>h5 {
    margin-bottom: 0px;
    font-size: 1.8vh;
    padding-bottom: 8px;
}

.card {
    flex-direction: row;
}

.card img {
    width: 30%;
}

.jumbotron {
    margin-top: 5vh;
}

body {
    background-color: #005191;
}

#mainSection {
    background-color: #fff;
}