nav{
    background-color: #ece9de;
}

nav > a > img {
    margin: 0px 20px;
    height: 3vh;
}

#switchView {
    border: 2px solid #246bce;
    background: #f9f8f5;
    position: fixed;
    bottom: 50px;
    right: 50px;
}