body {
    overflow: hidden;
}

#sideMenu {
    margin: 0;
    margin-left: 50px;
    position: absolute;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 15em;
    border: 2px solid #246bce;
    background-color: #f9f8f5;
    text-align: center;
}

#search{
    width: 50vw;
    border: 2px solid #246bce;
    height: 50px;
    background-color: #f9f8f5;
    position: absolute;
    transform: translate(75%, -90vh);
    padding: 10px 3px;
}

#locationLabel {
    font-size: 85%;
    margin-bottom: 0px;
    margin-top: 10px;
    color: gray;
}

#map {
    width: 100vw;
    height: 94vh;
}

hr {
    margin: 5px;
}

h1 .accordion-button {
    text-align: center;
    font-size: x-large;
    background-color: #f9f8f5;
}

.accordion-collapse {
    background-color: #f9f8f5;
}

.collapse {
    background-color: #f9f8f5;
}

#switchView {
    right: 75px;
}

textarea:focus, input:focus{
    outline: none;
}

#servCont {
    padding: 5px;
}

#servicesAccordion button {
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 .accordion-button {
    background-color: #f9f8f5;
}

/* TODO: mobile styling ( anything smaller than roughly 700px ) */