body {
    overflow: hidden;
}

.navbar {
    background-color: #ece9de;
    --mdb-navbar-box-shadow: 0 0 0 0;
        position: fixed;
        top: 0;
        width: 100%;
        height: 6vh;
        z-index: 9;
}

nav > a > img {
    margin: 0px 20px;
    height: 3vh;
}

#switchView {
    border: 2px solid #246bce;
    background: #f9f8f5;
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 40px;
}

#sideMenu {
    margin: 0;
    left: 50px;
    position: absolute;
    top: 53%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 15em;
    border: 2px solid #246bce;
    background-color: #f9f8f5;
    text-align: center;
    max-height: 700px;
    overflow-y: auto;
    border-radius: 10px;
}

#search{
    width: 50vw;
    border: 2px solid #246bce;
    height: 50px;
    background-color: #f9f8f5;
    position: absolute;
    top: 100px;
    right: 100px;
    padding: 10px 3px;
    min-width: 250px;
}

#locationLabel {
    font-size: 85%;
    margin-bottom: 0px;
    margin-top: 10px;
    color: gray;
}

#map {
    width: 100vw;
    height: 100vh;
}

hr {
    margin: 5px;
}

h1 .accordion-button {
    text-align: center;
    font-size: x-large;
    background-color: #f9f8f5;
}

.accordion-collapse {
    background-color: #f9f8f5;
}

.collapse {
    background-color: #f9f8f5;
}

textarea:focus, input:focus{
    outline: none;
}

#servCont {
    padding: 5px;
}

#servicesAccordion button {
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 .accordion-button {
    background-color: #f9f8f5;
}

#servicesAccordion .accordion-body{
    padding: 5px;
}

.btn-group-vertical {
    width: 13em;
    box-shadow: none;
    align-self: left;
}

.taxon-sub-cat-btn {
    text-align: left;
    padding: 0px 24px;
}

.taxon-sub-cat-btn:hover {
    font-size: 115%;
}

.btn-group-vertical:hover {
    box-shadow: none;
}

.taxon-sub-cat-btn.active  {
    color: #246bce;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background: lightgray;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
}

#switchView {
    border: 2px solid #246bce;
    background: #f9f8f5;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.find-btn {
    width: 60px; 
    border-radius: 40px; 
    border: none; 
    background-color: #246bce; 
    color: white;
}

@media screen and (max-width: 992px) {
    #search {
        transform: none;
        position: fixed;
        top: 8vh;
        left: 5vw;
        width: 45vw;
        right: 50vw;
    }

    #sideMenu {
        position: fixed;
        width: auto;
        top: auto;
        right: 5vw;
        left: 5vw;
        bottom: 3vh;
        max-height: 30vh;
        -ms-transform: none;
        transform: none;
    }

    #switchView {
        bottom: none;
        top: 9vh;
        right: 5vw;
    } 

    .find-btn {
        width: 120px;
    }

    .btn-group-vertical {
        width: 30em;
    }
}